# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml    
test/
build.xml
ShopBanDoDienTu.iml
.idea
.settings

# Class Files #
*.class
.project
.classpath
# Package Files #
*.jar
*.war
*.ear